- title = 'About #{nickname}'
include includes/layout

block content
	.header
		img.logo(src='img/tinder.png')

	.card
		.card-body
			p.name
				b #{name}
			img.portrait(src='#{portrait}')
			.caption
				:markdown
					*"You had me at 'hello world'!"*

	.choices
		a.round-btn(href='https://github.com/#{github}')
			i.fa-times
		a.round-btn(href='https://github.com/#{github}')
			i.fa-info
		a.round-btn(href='https://github.com/#{github}')
			i.fa-heart

		:markdown
			[What is this?](https://github.com/#{github})